.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    @media (min-width: 992px) {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    @include bp(md-down) {
        height: 80px;
    }
    .collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        @media (min-width: 992px) {
            display: flex!important;
            flex-basis: auto;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0 solid transition !important;
        border: 0 solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .navbar-nav {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        @media (max-width: 1199px) {
            display: none!important;
        }
        a {
            font-family: $azo-reg;
            font-size: 1em;
            letter-spacing: 0.32px;
            display: block !important;
            color: $heading-color;
            &:hover,
            &:focus {
                color: $red;
                background: none;
                outline: 0;
                text-decoration: none !important;
            }
            @include bp(lg) {
                font-size: 0.7em;
            }
        }
        >li {
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 5px;
            margin-right: 5px;
           /* &:before {
                content: '';
                display: block;
                width: 54px;
                height: 6px;
                border-radius: 3px 3px 0px 0px;
                background-color: $red;
                @include centre(x);
                bottom: 0;
                opacity: 0;
                @include animate-fade;
            }*/
            &:hover {
                /*&:before {
                    opacity: 1;
                }*/
                a {
                    background: none!important;
                }
            }
            &.quote {
                &:before {
                    display: none!important;
                }
                a {
                    border-color: $heading-color;
                    &:hover {
                        background-color: $heading-color!important;
                        color: #fff;
                    }
                }
            }
            >a {
                padding-top: 6px;
                padding-bottom: 4px;
                padding-left: 11px;
                padding-right: 11px;
                position: relative;
                border: 1px solid transparent;
                border-radius: 8px;
                &:hover {
                    &.dropdown-toggle {
                        &:after {
                            color: $heading-color;
                        }
                    }
                }
                &.dropdown-toggle {
                    position: relative;
                    /*&:after {
                        border: 0;
                        margin: 0;
                        padding: 0;
                        content: "\f078";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        position: absolute;
                        right: 3px;
                        font-size: 0.813em;
                        color: #6A6A6A;
                        @include animate-fade;
                        @include bp(desktop) {
                            font-size: 10px;
                            line-height: 16px;
                            right: 0;
                        }
                        @include bp(lg) {
                            font-size: 10px;
                            line-height: 16px;
                            right: 0;
                        }
                    }*/
                }
            }
        }
        >.show>a {
            color: $heading-color;
            background: #fff;
            outline: 0;
            text-decoration: none !important;
            &:focus,
            &:hover {
                color: $heading-color;
                background: #fff;
                outline: 0;
                text-decoration: none !important;
            }
            &.dropdown-toggle {
                &:after {
                    color: $heading-color;
                }
            }
        }
    }
}


/*==========Sub Menu=v==========*/

.mainmenu {
    .collapse ul {
        >li:hover>a,
        ul>li:hover>a {
            background: #fff;
        }
    }
    .collapse ul ul {
        background: #fff;
        border: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 10px;
        ul>li:hover>a,
        &.dropdown-menu {
            background: #fff;
        }
        ul {
            background: #fff;
            &.dropdown-menu {
                background: #fff;
            }
            ul {
                background: #fff;
                &.dropdown-menu {
                    background: #fff;
                }
            }
        }
        li {
            padding: 0 15px;
        }
        a {
            padding: 10px 5px;
            border-bottom: 1px solid #eee;
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\f105";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 250px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 250px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 250px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu {
        >li>a {
            padding: 16px 15px 16px 35px;
        }
        .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px;
        }
    }
}

.sliding-menu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


/******************************Mobile Menu**********************************/





#top-call {
    @media only screen and (min-width: 992px) {
        display: none;
    }
    margin-left: auto;
    margin-right: 20px;
    a {
        display: block;
        i {
           font-size: 24px;
           color: $red;
           @include animate-fade;
        }
        &:hover {
            i {
                color: $heading-color;
            }
        }
    }
}



/* mobile btn */

#mobile-menu--btn {
    width: 35px;
    @media only screen and (min-width: 1200px) {
        display: none;
    }
    a {
        display: block;
        width: 100%;
        height: 30px;
        span {
            height: 4px;
            border-radius: 6px;
            background-color: $red;
            width: 35px;
            display: block;
            float: right;
            margin-top: 3px;
            margin-bottom: 3px;
            transition: .25s ease-in-out;
        }
        &:hover {
            span {
                background-color: $heading-color;
            }
        }
    }
}


/*====================================
=            Menu Ovelray            =
====================================*/

.menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active-overlay {
    opacity: 1;
    visibility: visible;
}

.main-menu-sidebar {
    width: 400px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: -400px;
    z-index: 9999;
    transition: .45s ease-in-out;
    background: $heading-color;
    overflow-y: scroll;
    /* close menu */
    /* main menu */
    .close-menu-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #e2e2e2;
        text-indent: -9999px;
        background: url(../img/ico/close-btn.png) no-repeat center center;
        width: 20px;
        height: 20px;
    }
    #sidebar-menu-wrapper #menu .nav-links>li>a:hover {
        color: #fff;
    }
}

@media only screen and (max-width: 750px) {
    .main-menu-sidebar {
        width: 300px;
    }
}


/*=====  End of Mobile Navbar  ======*/



// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
	background:#090548;
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .mobile-logo {
        filter: brightness(0) invert(1);
        margin-top: 8px;

    }
    .close-menu-btn {
        position: absolute;
        top:15px;
        right:-10px;
        color:$white;
        font-size: 20px;
        width: 32px;
        height: 32px;
        img {
            @include centre(both);
            width: 22px;
            filter: brightness(0) invert(1);
        }
    }
    // arrow
    small {
        display:block;
        width:36px;
        height:36px;
        position: absolute;
        top:8px;
        right:0px;    
        background: $red; 
        border-radius: 4px;
        &:after {
            display: block;
            content:url('../img/ico/angle-right-light.svg');
            color:$red;
            font-size: 24px!important;
            @include centre(both);
            width: 10px;
            height: 24px;
            filter: brightness(0) invert(1);

        }
        &.active {
            &:after {
                content:url('../img/ico/angle-down-light.svg');
                @include centre(both);
                width: 12px;
                filter: brightness(0) invert(1);

            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 15px;
        img.mobile-logo {
            width: 150px;
        }
		#menu {
			.nav-links {
                padding-top: 40px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    display: block;
                    text-transform: uppercase;
                    line-height: 1.4em;
                    font-size: 15px;
                    text-decoration: none;
                    border: none;
                    outline: 0;
                    color: #fff;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(255,255,255,.1);
					&:hover {
						color:$red;
					}
				}
				li {
					ul {
						padding-top: 15px;
						padding-bottom: 15px;
						li {
							a {
								display: block;
								font-size: 1em;
								color:$white;
								padding-top: 8px;
								padding-bottom: 8px;
								padding-left: 20px;
								position: relative;
								line-height: 1.3;
                                opacity: 0.8;
                                
								&:hover {
									color:$white;
									padding-left: 20px;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}