@font-face {
    font-family: 'Azo Sans Black';
    src: url('../fonts/AzoSans-Black.woff2') format('woff2'),
        url('../fonts/AzoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Light';
    src: url('../fonts/AzoSans-Light.woff2') format('woff2'),
        url('../fonts/AzoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans BoldItalic';
    src: url('../fonts/AzoSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bold';
    src: url('../fonts/AzoSans-Bold.woff2') format('woff2'),
        url('../fonts/AzoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Medium';
    src: url('../fonts/AzoSans-Medium.woff2') format('woff2'),
        url('../fonts/AzoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Regular';
    src: url('../fonts/AzoSans-Regular.woff2') format('woff2'),
        url('../fonts/AzoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

