#about-intro {
    margin-top: 70px;
    margin-bottom: 75px;
    @include bp(desktop) {
        margin-top: 60px;
        margin-bottom: 65px;
    }
    @include bp(lg) {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    @include bp(md-down) {
       margin-top: 50px;
       margin-bottom: 30px;
    }
    &-in {
        max-width: 1042px;
    }
    h2 {
        @include heading-font;
        display: inline-block;
        margin-bottom: 102px;
        padding-right: 200px;
        @include bp(desktop) {
            margin-bottom: 80px;
            padding-right: 150px;
        }
        @include bp(lg) {
            margin-bottom: 50px;
            padding-right: 100px;
        }
        @include bp(md) {
           margin-bottom: 40px;
           padding-right: 0;
        }
        @include bp(sm-down) {
            margin-bottom: 30px;
            padding-right: 0;
        }
        &:after {
            content: '.';
            color: $red;
        }
    }
    p {
        @include regular-text2;
        @include bp(sm-down) {
            font-size: 1em;
        }
    }
}