#contact-page {
    .row {
        position: relative;
    }
    .contact-content {
        background-color: #fff;
        padding-top: 80px;
        padding-bottom: 60px;
        padding-right: 65px;
        @include bp(desktop) {
            padding-top: 60px;
            padding-right: 35px;
        }
        @include bp(lg) {
            padding-top: 60px;
            padding-right: 15px;
            padding-bottom: 50px;
        }
        @include bp(md) {
            padding-right: 15px;
            padding-top: 50px;
            padding-bottom: 40px;
        }
        @include bp(sm-down) {
            padding-right: 0;
            padding-top: 50px;
            padding-bottom: 40px;
        }
        h1, h2 {
            @include heading-font2;
            display: inline-block;
            margin-bottom: 70px;
            @include bp(desktop) {
                margin-bottom: 60px;
            }
            @include bp(lg) {
                margin-bottom: 50px;
            }
            @include bp(md) {
                margin-bottom: 40px;
            }
            @include bp(sm-down) {
                margin-bottom: 30px;
            }
            &:after {
                content: '.';
                color: $red;
            }
        }
        form {
            input[type=text], input[type=email], input[type=tel], input[type=number], textarea, .bootstrap-select .btn {
                @include input-style2;
            }
            .form-group {
                margin-bottom: 30px;
            }
            button[type="submit"] {
                @include red-btn;
            }
            textarea {
                height: 150px!important;
                padding-top: 11px;
                padding-bottom: 11px;
            }
            // validate
            .wpcf7-not-valid-tip {
                margin-top: 5px;
                font-size: 14px;
            }
            .wpcf7-not-valid {
                border-color:$red!important;
            }
        }
        .wpcf7 form .wpcf7-response-output {
            padding:0px;
            color:$red;
            border:none;
            margin:0px;
        }        
        .contact-info {
            margin-top: 65px;
            @include bp(desktop) {
                margin-top: 55px;
            }
            @include bp(lg) {
                margin-top: 45px;
            }
            @include bp(md) {
                margin-top: 35px;
            }
            @include bp(sm-down) {
                margin-top: 25px;
            }
            h2 {
                font-family: $azo-bold;
                color: $red;
                font-size: 1.125em;
                text-transform: uppercase;
                @include bp(md-down) {
                   font-size: 1em;
                }
            }
            p {
                font-size: 1.125em;
                color: #808080;
                @include bp(md-down) {
                   font-size: 1em;
                }
            }
        }
    }
    .contact-map {
        position: absolute;
        left: 50%;
        width: 50vw;
        height: 100%;
        @include bp(sm-down) {
            position: static;
            width: 100%;
            height: 300px;
        }
        iframe {

        }
    }
}