/*===============================
=           Top Area            =
===============================*/

#menu_area {
    height: 127px;
    background: #EBEBE4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
    @include animate-fade;
    @include media-breakpoint-down(md) {
        height: 80px;
    }
    .container, .row, .col-md-12, .mainmenu {
        height: 100%;
    }
    .container {
        @include media-breakpoint-down(md) {
            height: 100%;
            display: flex;
            align-content: center;
        }
        .row {
            @include media-breakpoint-down(md) {
                flex-grow:1;
            }
            .col-md-12 {
                @include media-breakpoint-down(md) {
                    display: flex;
                }
            }
        }
    }
    &.sticky {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
        height: 80px;
    }
    .navbar-brand {
        margin-right: 45px;
        max-width: 304px;
        @media(min-width: 1200px) and (max-width:1300px) {
            max-width: 220px;
        }
        @include media-breakpoint-only(md) {
            max-width: 250px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 200px;
        }
        @media (max-width:330px) {
            max-width: 165px;
        }
        img {
            -webkit-backface-visibility: hidden;
            @include animate-fade;
        }
        &:hover {
            img {
                opacity: .7;
            }
        }
    }
    .navbar-nav {
        margin-right: 40px;
        @include breakpoint (desktop) {
            margin-right: 35px;
        }
        @include media-breakpoint-only(lg) {
            margin-right: 15px;
        }
    }
    .call-btn {
        @media (max-width: 1199px) {
            margin-left: auto;
            margin-right: 40px;
        }
        a {
            display: block;
            background: #1BB939;
            border-radius: 4px;
            font-family: $azo-bold;
            padding: 11px 30px;
            color: #fff;
            font-size: 1em;
            text-transform: uppercase;
            @include media-breakpoint-only(lg) {
                font-size: 0.9em;
                padding: 8px 25px;
            }
            @include media-breakpoint-only(md) {
                font-size: 0.9em;
                padding: 8px 25px;
            }
            i {
                color: #fff;
                font-size: 16px;
                margin-right: 5px;
                position: relative;
            }
            &:hover {
                background: $red;
            }
        }
    }
}

/*=====  End of Top Area  ======*/


/*===============================
=           Masheader          =
===============================*/

#masheader {
    padding-top: 25px;
    padding-bottom: 200px;
    background-color: #EBEBE4;
    @include media-breakpoint-down(md) {
        padding-bottom: 50px;
    }
    h1 {
        @include page-title;
        text-transform: uppercase;
    }
    .subtitle {
        display: block;
        @include page-title;
        color: $red;
        font-family: $azo-boldi;
        margin-bottom: 42px;
    }
    .header-photo {
        display: flex;
        height: 100%;
        img {
            align-self: flex-end;
            display: block;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 70px;
            height: auto;
        }
    }
    .header-content {
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }
    }
}

/*=====  End of Masheader ====*/

/*===============================
=          About Header         =
===============================*/

#about-header {
    padding-top: 25px;
    padding-bottom: 160px;
    background-color: #EBEBE4;
    @include media-breakpoint-only(lg) {
        min-height: 450px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-only(md) {
        min-height: 380px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 50px;
    }
    .container {
        position: relative;
    }
    h1 {
        @include page-title;
        text-transform: capitalize;
        color: $red;
    }
    .header-text {
        max-width: 560px;
        margin-top: 125px;
        @include media-breakpoint-only(lg) {
           margin-top: 80px;
        }
        @include media-breakpoint-only(md) {
            margin-top: 40px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
        p {
            @include regular-text2;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                font-size: 1em;
            }
        }
    }
    .header-photo {
        margin-top: 10px;
        position: absolute;
        right: 20px;
        @include media-breakpoint-down(sm) {
            position: static;
            margin-top: 40px;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            width: 100%;
            text-align: center;
        }
        img {
            display: block;
            max-width: 30vw;
            @include media-breakpoint-down(sm)  {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


/*====  End of About Header  ====*/


#inner-header  {
    padding-top: 45px;
    padding-bottom: 45px;
    h1 {
        @include page-title;
        margin-bottom: 20px;
        color: $red;
    }
    p {
        @include regular-text2;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
