// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;
$red: #FF3A43;
$text-color: #958DAB;
$heading-color: #090548;
$purple-light: #E6EDF9;
$yellow: #ECAA2C;
$blue: #0d6efd;
$green:#198754;
$orange: #fd7e14;

// 2. Sizes
$base-size:16px;



